@model ICollection<FC_Imobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count Inquilinos</h1>

    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Quantidade Imoveis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var n in Model)
            {
                <tr>
                    <td>@n.ID</td>
                    <td>@n.Name</td>
                    <td>@n.Idade</td>
                    <td>@n.QuantImoveis</td>
                </tr>
            }
        </tbody>
    </table>
</div>